## YAML Template.
---
version: '3.6'

services: 
    mysql:
        image: mysql:5.7
        environment:
            - MYSQL_ROOT_PASSWORD=root
        ports:
            - 3306:3306
        volumes:
          - mysql_data:/var/lib/mysql
volumes:
    mysql_data: